@model GymateMVC.Application.ViewModels.RoutineVm.ExerciseToAddForRoutineVm

@{
    ViewData["Title"] = "AddExercise";
}

<h1>AddExercise</h1>

<h4>Add exercise for your routine</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddExercise">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="RoutineId" class="form-control" />

            <div class="form-group">
                <label asp-for="RoutineId" class="control-label"></label>
                <span asp-validation-for="RoutineId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExerciseId" class="control-label"></label>
                <select asp-for="ExerciseId" asp-items="Model.SelectListExercise"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
