@model GymateMVC.Application.ViewModels.RoutineVm.ExerciseToAddForRoutineVm

@{
    ViewData["Title"] = "AddExercise";
}

<h1>Add exercise for your routine</h1>

<hr />

<table class="table">
    <thead>
        <tr>
            <th>
                <h3>@Model.RoutineName</h3>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach(var exercise in Model.ExercisesForRoutine)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => exercise.Name)
                </td>
            </tr>
        }
    </tbody>    
</table>


<div class="row">
    <div class="col-md-4">
        <form asp-action="AddExercise">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input asp-for="RoutineId" type="hidden" class="form-control" />

            <div class="form-group">
                <label asp-for="ExerciseId" class="control-label">Exercise to add</label>
                <select asp-for="ExerciseId" asp-items="Model.SelectListExercise"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
